body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

main {}

/* MARK: LOGIN */
.formContainer {
    margin-top: 30vh;
    margin-left: 30vw;
    padding: 24px;
    width: 40vw;
    height: 40vh;
    border-radius: 1vmin;
    background-color: white;
}

.loginBackground {
    /* to set image as background */
    top: 0;
    left: 0;
    background-image: url('../asset/duotone.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.loginButton {
    padding-left: 8vw;
    padding-right: 8vw;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* MARK: DASHBOARD */
.sidebar {
    display: flex;
    height: 100vh;
    width: 250px;
    /* flex-wrap: nowrap; */
    /* overflow-x: auto; */
    /* overflow-y: hidden; */
}

.bg-custom-gray {
    background-color: #28242c;
}

.bg-custom-lightgray {
    background-color: #9f9f9f;
}

.sidebar .nav-link.active {
    background-color: #2874d4;
}

.table-container {
    overflow-y: auto;
}

.custom-width-70 {
    width: 70vw;
}

.custom-width-5 {
    width: 5vw;
}

.custom-width-10 {
    width: 10vw;
}

.custom-width-20 {
    width: 20vw;
}

.custom-width-30 {
    width: 30vw;
}

.custom-width-40 {
    width: 40vw;
}


