/* MARK: LOGIN */

.formContainer{
    margin-top: 30vh;
    margin-left: 30vw;
    padding: 24px;
    width: 40vw;
    height: 40vh;
    border-radius: 1vmin;
    background-color: white;
}

.loginBackground {
    /* to set image as background */
    top: 0;
    left: 0;
    background-image: url('../asset/background.png');
    background-size: cover; 
    background-position: center; 
    width: 100vw; 
    height: 100vh;
}

.loginButton{
    padding-left: 8vw;
    padding-right: 8vw;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: ; */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 20px;
}
/* Main Content */
.main-content {
    margin-left: 250px; 
    padding: 20px;
}
/* Navbar Link Styling */
.nav-link {
    color: black;
}
.nav-link:hover {
    color: wheat;
}
.nav-link.active {
    font-weight: bold;
}
